cython
torch==0.4.0
torchvision
visdom
nibabel
pandas
tqdm
matplotlib
opencv_python==3.4.2.16
opencv_contrib_python==3.4.2.16
pandas
h5py
scipy
tqdm
pycocotools
tensorboardx
numpy==1.14.5
Image==1.5.25
Pillow==5.3.0
munkres==1.0.12

